.gallery {
    margin-top: -1px;
    position: relative;
    background: url('../../imgages/bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: right 1px;
    min-height: 1080px;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: center; 
}
.gallery__carusel{
    /* margin-top: -50px; */
    width: 1920px;
    height: 927px;
    margin-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
  
}
.slides-box{
    width: 1792px;
    height: 770px;
    margin-left:84px ;
    margin-top: 65px;
    position: relative;
    
   
}

.slide-item{
    position: absolute;
    border-radius: 40px;
    transition: transform 0.5s ease, z-index 0.5s ease;
    
}
.slide-5{
    width: 1020px;
    height: 607px;
    border-radius: 40;
    margin-top: 30px;
    left: 25px;
    background: url('../../imgages/slider/Slide\ Image-5.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
    
}
.slide-4{
    width: 1020px;
    height: 607px;
    border-radius: 40;
    margin-top: 30px;
    left: 715px;
    background: url('../../imgages/slider/Slide\ Image-4.jpg') no-repeat center center;
    background-size: cover;
    z-index: 2;
}
.slide-3{
    width: 1132px;
    height: 687px;
    border-radius: 40;
    background: url('../../imgages/slider/Slide\ Image-3.jpg') no-repeat center center;
    background-size: cover;
    z-index: 3;
    margin-top: -10px;
    left: 90px;
}
.slide-2{
    width: 1132px;
    height: 687px;
    border-radius: 40;
    background: url('../../imgages/slider/Slide\ Image-2.jpg') no-repeat center center;
    background-size: cover;
    z-index: 4;
    margin-top: -10px;
    left: 540px;
}
.slide-1 {
    width: 1292px;
    height: 767px;
    border-radius: 40;
    margin-top: -50px;
    left: 225px;
    background: url('../../imgages/slider/Slide\ Image-1.jpg') no-repeat center center;
    background-size: cover;
    z-index: 5;
}


/* SLIDER NAV */

.gallery__carusel-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    margin-left: 140px;
    width: 100%;
}
.slider-nav {
    display: flex;
    align-items: center;
    width: 232px;
    height: 56px;
}

.nav-arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav-arrow:hover{
    transform: scale(1.1);
    border-radius: 50%;
    background-color: var(--main-text);
}

.nav-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px; 
}

.nav-dot {
    width: 12px;
    height: 12px;
    background-color: var(--slider-nav-bg); 
    border-radius: 50%;
    margin: 0 4px; 
}

.nav-dot.active {
    width: 16px;
    height: 16px;
    background-color: var(--slider-nav-color); 
}